.splide{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.expo-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* padding: 50px; */
    gap: 30px;
    font-family: 'Poppins';
    
}

/* .expo-content-wrapper .expo-content{   
} */

/* .expo-content-wrapper .expo-dates{

} */

.video-toggle{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video-toggle > div{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 20px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

}

.active.vdOptn{
    background-color: rgb(17,24,39);
    color: #ece7e1;

}



.videos{
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.videos-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 30px;
}


.videos-list .vd{
    width: 350px;
}

.title-underline-3{
    position: relative;
}

.title-underline-3::after{
    content: "";
    position: absolute;
    width: 230px;
    border-top: solid 3px rgb(3,74,102) ;
    left: 42vw;
    bottom: -17px;
    border-radius: 50%;
    height: 8px;
    
}

@media (max-width: 990px) {
    .title-underline-3::after{
        content: "";
        position: absolute;
        width: 230px;
        border-top: solid 3px rgb(3,74,102) ;
        left: 35vw;
        bottom: -17px;
        border-radius: 50%;
        height: 8px;
        
    }
  }

@media (max-width: 600px) {
    .title-underline-3::after{
        content: "";
        position: absolute;
        width: 230px;
        border-top: solid 3px rgb(3,74,102) ;
        left: 22vw;
        bottom: -17px;
        border-radius: 50%;
        height: 8px;
        
    }
  }

