
.footer-section{
    background-color: rgb(18, 82, 110);
}

.footer-about-title{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.footer-about-content{
    font-family: 'Montserrat';
    color: rgba(255,255,255,0.8);
}

.address-title{
    /* font-size: 30px; */
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;

}

.address-list{
    color: rgba(255,255,255,0.8);
    font-family: 'gilroy-regular';

}

.address-list > div{
    /* display: flex; */
    /* justify-content: left; */
    align-items: flex-start;
    gap: 12px;
}

.address-list > div:not(:nth-child(1)){
    /* justify-content: left; */
    align-items:center ;
}

