header{
    z-index: 9999;
    /* border-bottom: 5px solid rgb(25, 115, 154); */
    border-top: 5px solid rgb(25, 115, 154);
}
.nav-menu a:hover{
    background-color: rgb(25, 115, 154);
    color: white;
    border-radius: 5px;

}
.nav-menu{
    gap: 5px;
}

.nav-menu .active{
    background-color:  rgb(25, 115, 154);
    border-radius: 5px;
    color: white;
}

.nav-menu a{
    padding: 5px 14px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;

}
.logo-ImgWrapper{
    width: 300px;

}
.nav-menu{
    font-family: 'Poppins';
    
}