.option-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    flex-grow: 1;
    align-items: center;
    /* margin: 40px; */
}

.option-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 30px;
    background-color: rgb(25, 115, 154);
   
}

.option-wrapper .ImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 900;
}


.option-content{
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(3,74,102);
}
